body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #f8f8f8;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content {
  width: 65%;
}

.content h2,
.content p {
  color: #333;
}

/* image s {
  max-width: 90%;
  border-radius: 8px;
  padding: auto;
  border-color: pink;
  border-radius: 10%;
} */

.container {
  display: flex;
}

.content {
  flex: 1;
  margin-right: 20px;
}

.image-container {
  width: 30%;
  padding: auto;
}

h1 {
  text-align: center;
  font-weight: bold;
}
